<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% if request.session.UserName %}
</head>
<body>
    <h1>Bienvenido Empresa</h1>
    <a href="/consultarEmpresa/">Consultar Transacciones</a>
    <a href="/ingresartransccion/">Ingresar Transaccion</a>
</body>
    {%endif%}
</html>